<!DOCTYPE html>
<html>
  <body>

	{% block content %}
   		<div class="group">
     			<h1>You can create your team now!</h1>
    			 <p></p>



		 </div>
        {{group_number}} <br><br>
        {{group_message}}
        <br><br>
	    	<form action="" method="post" novalidate>
            <input type="text" name="Given Number" value={{group_number}} >
            <input type="submit" name="light" value="Light">
            <!-- <input type="submit" name="backcolor" value="backcolor"> -->
            <input type="submit" name="randomcolor" value="Randomcolor">
            <br><br>
            
        </form>
        

	{% endblock %}

  </body>
</html>
