<!DOCTYPE html>
<html>
  <body>

	{% block content %}
   		<div class="login">
     			<h1>LightUp</h1>
    			 <p>This is an app for synchronizing mobile phone lights..</p>
		</div>

		<h1></h1>
	    	<form action="/group" method="post" novalidate>
            Take a random number:
            <input type="submit" name="Create lightgroup" value="Create lightgroup">
        </form>
        <form action="/join" method="post" novalidate>
            <br><br>
            Enter your number:
            <input type="text" name="Given Number">
    			  <input type="submit" name="Join lightgroup" value="Join lightgroup">
	    	</form>

	{% endblock %}

  </body>
</html>
