<!DOCTYPE html>
<html>
<body>
  <!-- <h1>Flask-SSE Quickstart</h1> -->

	{% block content %}
   		<div class="join">
     			<h1>Welcome to our Group!</h1>
    			 <p></p>

		</div>

  {{groupnumber}}

  <script>
  var source = new EventSource("{{ url_for('sse.stream',channel=groupnumber ) }}");
  // if (source.channel == {{groupnumber}}){
    source.addEventListener('greeting', function(event) {

        var data = JSON.parse(event.data);
        alert("The server says " + data.message);
    }, false);

    /* source.addEventListener('changeColor', function(event) {

        document.body.style.backgroundColor = "purple";
    }, false);
 */
    source.addEventListener('changeColorRandomly', function(event) {
        var x = Math.floor(Math.random() * 256);
        var y = Math.floor(Math.random() * 256);
        var z = Math.floor(Math.random() * 256);
        var bgColor = "rgb(" + x + "," + y + "," + z + ")";
        var bgColor2 = JSON.parse(event.data).message;
        console.log(bgColor2);

        document.body.style.background = bgColor2;

    }, false);

    source.addEventListener('error', function(event) {
      // alert("Failed to connect to event stream. Is Redis running?");
      console.error();
    }, false);


  </script>


  {% endblock %}

</body>
</html>
